body{ 
    background-color: rgb(0, 87, 13);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgba(70, 208, 60, 0.813);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}